<IfModule mod_rewrite.c>
RewriteEngine On

# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP_HOST} ^(www\.)?cms\.localhost\.com$ [OR]
# RewriteRule ^(.*)$ "https\:\/\/cms\.localhost\.com\/$1" [R=301,L]

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
</IfModule>
